// Shared
.auth-wrapper {
  background: #2bbbad;

  .card-panel {
    width: 500px;
    margin: 0 auto;
  }
}

.vue-notification-group {
  height: unset!important;

  .vue-notification {
    font-size: 16px!important;
    padding: 15px!important;
  }
}

// Helpers
.relative {
  position: relative;
}

.flex {
  display: flex;

  &.align-center {
    align-items: center;
  }

  &.justify-between {
    justify-content: space-between;
  }
}